
@{
    ViewBag.Title = "OkulOncesiEtkinlik";
}
<center><font face="tahoma" size="5" color="	#8B0000"><h4>OKUL ÖNCESİ ETKİNLİK</h4> </font></center><br />
<br />
	
<div class="container">
    <div class="row">

        <div class="col-lg-12">
 <div class="row">
     <div class="col-lg-5 col-sm-6 portfolio-item">
         <div class="card h-">
             <img class="card-img-top" src="http://localhost:51009/img/ayakkabi.jpg" alt="">
             <div class="card-body">
                 <h4 class="card-title">
                    
                     @Html.ActionLink("Ayakkabıları Bağlayalım","AyakkabilarıBaglayalim")
                 </h4>
                 <font face="tahoma" size="5" color="#696969"> <h6>Çalışmalar için etkinlik başlıklarına tıklayınız...</h6></font>
</div>
         </div>
     </div>
     
                <div class="col-lg-5 col-sm-6 portfolio-item">
                    <div class="card h-">
                        <img class="card-img-top" src="http://localhost:51009/img/cerceve.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.ActionLink("Tahta Çerçevemiz", "TahtaCercevemiz")
                            </h4>
                            <font face="tahoma" size="5" color="#696969"> <h6>Çalışmalar için etkinlik başlıklarına tıklayınız...</h6></font>
                        </div>
                    </div>
                </div>
             
                <div class="col-lg-5 col-sm-6 portfolio-item">
                    <div class="card h-">
                      <img class="card-img-top" src="http://localhost:51009/img/balon.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.ActionLink("Balon Trafik Işıkları", "BalonTrafikİsiklari")


                            </h4>
                            <font face="tahoma" size="5" color="#696969"> <h6>Çalışmalar için etkinlik başlıklarına tıklayınız...</h6></font>
                        </div>
                    </div>
                </div>
  
     <div class="col-lg-5 col-sm-6 portfolio-item">
         <div class="card h-">
            <img class="card-img-top" src="http://localhost:51009/img/cimadam.jpg" alt="">
             <div class="card-body">
                 <h4 class="card-title">
                     @Html.ActionLink(" Çim İnsanlarımız", "Cimİnsanlarimiz")
                 </h4>
                 <font face="tahoma" size="5" color="#696969"> <h6>Çalışmalar için etkinlik başlıklarına tıklayınız...</h6></font>
             </div>
         </div>
     </div>
     <div class="col-lg-5 col-sm-6 portfolio-item">
         <div class="card h-">
             <img class="card-img-top" src="http://localhost:51009/img/makarna.jpg" alt="">
             <div class="card-body">
                 <h4 class="card-title">
                     @Html.ActionLink(" Makarnadan Yaprak", "MakarnadanYaprak")
                 </h4>
                 <font face="tahoma" size="5" color="#696969"> <h6>Çalışmalar için etkinlik başlıklarına tıklayınız...</h6></font>
             </div>
            
         </div>
     </div>
     </div>
        </div>

    </div>
</div>

<br />
<br />